<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83a9be">  <td>18/06/17 09:08:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.googleSearch()[pri:0, instance:com.peterwkc.Runner.TestRunner@1b75c2e3]">googleSearch</td> 
  <td>main@809822663</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>18/06/17 09:08:54</td>   <td>-28</td> <td title="&gt;&gt;TestRunner.setup()[pri:0, instance:com.peterwkc.Runner.TestRunner@1b75c2e3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809822663</td>   <td></td> </tr>
<tr bgcolor="83a9be">  <td>18/06/17 09:08:57</td>   <td>2536</td> <td title="&lt;&lt;TestRunner.teardown()[pri:0, instance:com.peterwkc.Runner.TestRunner@1b75c2e3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809822663</td>   <td></td> </tr>
</table>
